.Tests{
    min-width: 550px;
    width: 55vw;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 15px;
    transition:box-shadow 0.6s;
    margin-bottom: 50px;
    overflow: hidden;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.Tests:hover{
    box-shadow: 0px 0px 20px 10px rgba(185, 212, 255, 0.75);
}
.Content{
    height: 100%;
}
.Timer_div{
    top:80px;
    height:calc(100% - 80px);
    left: calc(50% - 960px);
    position: absolute;
}
.Right_div{
    float: left;
    height: 100%;
    width: 50px;
}
.united_div{
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}
.Buttons{
    display: grid;
    grid-template-columns: max-content max-content max-content;
}