@property --c1 {
    syntax: '<color>';
    initial-value: #4c50ff;
    inherits: false;
}

@property --c2 {
    syntax: '<color>';
    initial-value: #a35bff;
    inherits: false;
}

html{
    height: 100%;
    margin: 0;
    overflow: hidden;
}
@font-face {
    font-family:"Srbija";
    src: local("Srbija"), url('./Srbija_Sans.ttf') format('truetype');
}
@font-face {
    font-family: 'Ubuntu-Medium';
    src:  local("Ubuntu-Medium"), url('./Ubuntu-Medium.ttf') ;
}
@font-face {
    font-family: 'Nunito';
    src:  local("Nunito"), url('./ofont.ru_Nunito.ttf') ;
}
@font-face {
    font-family:"arnamu";
    src: local("arnamu"), url('./arnamu.ttf')  format('truetype');
}
body{
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.main{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: linear-gradient(135deg, var(--c1) ,  var(--c2));
    animation: chgColor 5s infinite;
    overflow: hidden;
}
#__next{
    height: 100%;
    margin: 0px;
    overflow: hidden;
}

.uu{
    border-radius: 40px;
}
@keyframes chgColor {
    0%{
        --c1: #4c50ff;
        --c2: #a35bff;
    }
    50%{
        --c2: #9a6aff;
        --c1: #397aff;
    }
    100%{
        --c1: #4c50ff;
        --c2: #a35bff;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}